<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.mickablondo.missiondefis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MissionDefis">

        <!-- Point d'entrée de l'application -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ChildSelectionActivity" />
        <activity android:name=".RewardActivity" />
        <activity android:name=".ui.ChildChallengesActivity" />
        <activity android:name=".ui.ParentScreenActivity" />
        <activity android:name=".ui.ChildChallengesEditActivity" />
        <activity android:name=".ui.RoleSelectionActivity" />
    </application>

</manifest>
